@model IEnumerable<Product>

<a asp-controller="ProductMvc" asp-action="Create">Add New Product</a>

@if (Model.Any())
{
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Supplier</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @Html.FillProductTable(Model)
        </tbody>
    </table>
}
else
{
    <p>No products available.</p>
}